.page_wraper {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 0%;
    width: 100%;
}
.title_head h1 {
    font-size: 3vw;
}
.title_head{
  margin-top: 5%;
}
.title_head p {
    font-size: 2vw;
}
.sub_head p {
    font-size: 1vw;
}
.schedule_tbl{
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}
.custom_btn{
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}
.custom_btn-white{
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}
.coppyright_text.reservation {
    max-width: 1000px;
    margin: 0 auto;
}
/*index page*/
.header_area {
    max-width: 1000px;
    margin: 0 auto;
}
section.section1_area,section.section2_area ,section.section3_area,section.section4_area,section.section5_area,footer.footer   {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}
.text_area h1 {
    font-size: 3vw;
}
.details h1 {
    font-size: 2vw;
}
.footer_btn {
    text-align: center;
}
/*app event*/
.page_title {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0%;
    font-size: 3vw;
}
.cmbBoxGroup p {
    font-size: 1vw;
}
.custom_cmb>select {
    width: 100%;
    padding: 3% 3%;
    font-size: 1vw;
}
.inputGroup p {
    font-size: 1vw;
}
/*event conf*/
p.lbl {
    font-size: 1vw;
}
p.date {
    font-size: 1vw;
}










/**/
