/*
  Author:RoktimSazib
  url:http://www.codingavatar.com
  description:StudentBox-LP
  smartphone project
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   Global styles
   ========================================================================== */
 *:focus{
   outline: none;
 }
 h1,h2,h3,h4,h5,h6{
   margin: 0px;
   padding: 0px;
 }
 ul{
   margin: 0px;
   padding: 0px;
   list-style-type: none;
 }
 .fix{
   overflow: hidden;
 }
 body{
      font-family:  "Yu Gothic", "游ゴシック体", YuGothic, sans-serif, "Oxygen Mono";
}
/* ==========================================================================
   Roktim custom styles
   ========================================================================== */
.reservation_time input[type="checkbox"]{
  display: none;
}
.reservation_time.reserved.defalt.highlight{
  background-color: #0055B9;
}
.reservation_time.reserved.defalt.highlight>h1{
  color: #FFF;
}
.reservation_time.reserved.defalt:last-child{
  border-bottom: 1px solid #0055B9;
}
.reservation_time.reserved.defalt.highlight:nth-child(even){
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
}
.reservation_time.reserved.defalt.highlight:nth-child(odd){
  border-bottom: none;
}





.scroll {
  position: relative;
  height: 100%;
}
.modal{
  width: 100%;
  height: 100%;
  background-color: #FFF;
  position: absolute;
  padding: 30px;
  z-index: 2;
  box-sizing: border-box;
}
#login_popup{
  display: none;
}
#send_confirmation{
  display: none;
}
#contact_confirmation{
  display: none;
}
.text-content {
  text-align: center;
  color: #0055B9;
  padding-top: 46.5%;
}
.text-content>h1{
  font-size: 6vw;
}
.text-content>p{
  font-size: 19px;
  line-height: 30px;
}
p.bottom_txt {
  padding-top: 6.5%;
  font-size: 4vw;
  color: #4F606C;
}
.title_text{
  color: #0055B9;
  text-align: center;
  font-weight: 700;
  font-size: 5vw;
  padding-top: 33%;
  padding-bottom: 15%;
}
.fb_btn{
  padding-bottom: 3%;
}
.sb_btn{
  padding-top: 15.5%;
}
.fb_btn,.twitter_btn,.sb_btn{
  text-align: center;
}
.fb_btn img,.twitter_btn img{
  max-width: 660px;
  width: 100%;
}
.sb_btn img{
  max-width: 528px;
  width: 100%;
}
p._coppytext{
  text-align: center;
  color: #0055B9;
  padding-top: 31%;
  font-size: 2vw;
}
.close_icon {
  position: absolute;
  top: 43px;
  right: 46px;
}
.header_area{
  width: 100%;
  padding-top: 17px;
  padding-bottom: 19px;
}
.logo{
  float: left;
  margin-left: 3%;
  margin-top: 1%;
  width: 50%;
}
.logo img{
  width: 100%;
  max-width: 368px;
}
.btn_blue{
  float: right;
}
.btn_blue img{
  width: 100%;
  max-width: 236px;
}
.bg_image{
  width: 58.5%;
  float: left;
}
.bg_image img{
  width: 100%;
}
.text_area{
  color: #FFF;
  float: right;
  width: 41.5%;
  position: relative;
}
.title {
  padding: 0% 5%;
  padding-top: 10%;
  padding-left: 12%;
}
.title h4{
  font-weight: normal;
}
.text_area h1{
  font-size: 5vw;
}
.details {
  padding: 0% 5%;
  position: absolute;
  bottom: 9%;
  left: 2%;
}
.details h1{
  font-size: 4vw;
  font-weight: normal;
}
section.section2_area {
    margin-top: 2.8%;
}
section.section3_area {
    margin-top: 2.8%;
}
section.section4_area {
  margin-top: 2.8%;
}
.section1_area>.text_area{
  background-color: #0055B9;
}
.section2_area>.text_area{
  background-color: #3FA3FF;
}
.section3_area>.text_area{
  height: 358px;
  background-color: #0055B9;
}
.section4_area>.text_area{
  height: 358px;
  background-color: #3FA3FF;
}
/*FOOTER TOP SECTION*/
.section5_area{
  padding-top: 10.2%;
  padding-bottom: 10.2%;
}
.gray_btn {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.gray_btn img{
  max-width: 363px;
  width: 100%;
}
/*FOOTER PART*/
.footer{
  background-color:#4F606C;
}
.footer_logo {
  width: 73%;
  margin: 0 auto;
  padding-top: 8.9%;
}
.footer_logo img{
  max-width: 537px;
  width: 100%;
  padding-left: 1.7%;
}
.footer_text {
  width: 91%;
  margin: 0 auto;
  padding-top: 3.8%;
  padding-bottom: 11.5%;
  padding-left: 3%;
}
.footer_text p{
  margin: 0px;
  padding: 0px;
  font-size: 28px;
  color: #FFF;
}
.footer_btn{
  width: 88%;
  margin: 0 auto;
  padding-bottom: 7.5%;
  text-align: center;
}
.footer_btn img{
  max-width: 660px;
  width: 100%;
}
.instgran img{
  max-width: 76px;
  width: 100%;
}
.twitter img{
  max-width: 76px;
  width: 100%;
}
.facebook img{
  max-width: 76px;
  width: 100%;
}
.instgran,.twitter,.facebook{
  display: inline-block;
}
.social_icon{
  width: 88%;
  margin: 0 auto;
  padding-bottom: 7.3%;
  text-align: center;
}
.twitter {
  padding: 0% 2%;
}
.company_logo{
  width: 38%;
  margin: 0 auto;
  padding-bottom: 1.2%;
  padding-left: 5%;
}
.company_logo>img._powtxt{
  width: 106px;
  padding-right: 7%;
}
.company_logo>a img._ocLogo{
  max-width: 113px;
  width: 100%;
}
.coppyright_text{
  text-align: center;
  padding: 2.5% 0px;
}
.coppyright_text p{
  margin: 0px;
  padding: 0px;
  color: #FFF;
  font-size: 15px;
  font-family: Myriad Pro;
}
.scrollTop{
  width: 50px;
  position: fixed;
  bottom: 16%;
  right: 5.5%;
}
.scrollTop img{
  max-width: 47px;
  width: 100%;
}
/* ==========================================================================
   Event Application Page
  ========================================================================== */
/*custom cmb*/
.custom_cmb>select{
  width: 97.5%;
  padding: 3.5% 3%;
  background: #0055B9;
  outline: none;
  border: none;
  border-radius: 0px;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-size: 3vw;
}
.custom_cmb{
  position: relative;
}
span.cmb_icon {
  position: absolute;
  z-index: 2;
  right: 48px;
  top: 30px;
}
.page_wraper {
  width: 90%;
  margin: 0 auto;
  padding-left: 2.5%;
}
.page_title {
  color: #0055B9;
  text-align: center;
  font-size: 5vw;
  padding: 18% 0% 9.5%;
  font-weight: 600;
}
.cmbBoxGroup p{
  color: #0055B9;
  font-size: 3.5vw;
  margin: 0;
  padding: 0;
  padding-bottom: 1.6%;
}
span.reqBtn {
  background: #3FA3FF;
  font-size: 17px;
  padding: 5px 10px;
  color: #FFF;
  margin-left: 15px;
  vertical-align: text-top;
}
.cmbBoxGroup{
  padding-top: 4.5%;
}
.inputGroup p{
  color: #0055B9;
  font-size: 3.5vw;
  margin: 0;
  padding: 0;
  padding-bottom: 2%;
}
.inputGroup{
  padding-top: 4.5%;
}
.inputGroup>input[type="text"]{
  width: 91%;
  border: 1px solid #0055B9;
  padding: 2% 3%;
  border-radius: 0px;
  outline: none;
}
.inputGroup>textarea{
  width: 91%;
  border: 1px solid #0055B9;
  padding: 3.5% 3%;
  border-radius: 0px;
}
.submit_btn a {
  display: block;
  padding: 5% 0%;
  background: #0055B9;
  width: 97.5%;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  font-size: 29px;
  margin-top: 9.5%;
}
.submit_btn-white a {
  display: block;
  padding: 4% 0%;
  background: #FFF;
  width: 97.5%;
  font-size: 29px;
  text-align: center;
  text-decoration: none;
  color: #4F606C;
  margin-top: 3%;
}
.blue_color>p{
  color: #0055B9;
}
/*Event confermation page*/
.event_conf{
  padding-top: 4.5%;
}
 p.lbl{
  color: #0055B9;
  font-size: 3.5vw;
  margin: 0;
  padding: 0;
  padding-bottom: 1.6%;
  font-weight: 700;
}
p.date{
  font-weight: normal;
  color: #0055B9;
  font-size: 3.5vw;
  margin: 0;
  padding: 0;
  padding-bottom: 1.6%;
}
.description{
  text-align: center;
  color: #0055B9;
  font-size: 27px;
  width: 69%;
  margin: 0 auto;
  margin-top: 20%;
}
.coppyright_text.blue_color{
  margin-top: 6%;
}
/* ==========================================================================
   Reservation Schedule  Page
  ========================================================================== */
.title_head {
  margin-top: 20%;
  margin-bottom: 13%;
}
.title_head h1{
  font-size: 6vw;
}
.title_head p{
  margin: 0;
  padding: 0;
  font-size: 3.5vw;
}
.sub_head p{
  font-size: 3vw;
  padding-bottom: 6px;
}
.title_head,.sub_head{
  color: #0055B9;
  text-align: center;
}
.deactiv{
    background-color: #DAE7F5;
}
.active{
    background-color: #0055B9;
}
.defalt{
    background-color:transparent;
}
.reservation_time.defalt>h1{
  color: #0055B9;
}
.reservation_time.active>h1{
  color: #FFF;
}
.reservation_time{
  text-align: center;
  padding: 2.3% 0%;
}
.reservation_time:nth-child(even) {
  border-top: 1px solid #0055B9;
  border-bottom: 1px solid #0055B9;
}
.reservation_time.active:nth-child(even){
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
}
.reservation_time img{
  padding-right: 3.5%;
}
.reservation_time.deactiv img{
  max-width: 27px;
  width: 100%;
}
.reservation_time.defalt img{
  max-width: 34px;
  width: 100%;
}
.reservation_time.active img{
  max-width: 35px;
  width: 100%;
}
.reservation_time h1{
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  color: #B7CFEB;
}
.custom_btn a{
  display: block;
  padding: 4% 0%;
  background: #0055B9;
  width: 88%;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  font-size: 37px;
  margin: 102px auto 0px;
}
.custom_btn-white a{
  display: block;
  padding: 4% 0%;
  background: #FFF;
  width: 88%;
  text-align: center;
  text-decoration: none;
  color: #4F606C;
  font-size: 30px;
  margin: 0 auto;
}
.custom_btn-white {
  margin-top: 16px;
}
.coppyright_text.reservation{
  margin-top: 4.5%;
}
.coppyright_text.reservation p{
  color: #0055B9;
}
._mt5{
  margin-top: 5%;
}



/* ==========================================================================
   Responsive and pixel perfect
  ========================================================================== */
@media (max-width:414px) and (min-width:320px) {
  .scroll{
    overflow: hidden;
    position: relative;
    height: 100%;
  }
  .close_icon img{
    max-width: 27px;
    width: 100%;
  }
  .modal{
    padding: 6%;
  }
  .sb_btn {
    padding-top: 16.5%;
  }
  .sb_btn img {
    max-width: 264px;
  }
  .modal p {
    padding-top: 33%;
  }
  .close_icon {
    top: 22px;
    right: 24px;
  }
  .header_area {
    padding-top: 9px;
    padding-bottom: 9px;
  }
  .logo {
      margin-left: 3.5%;
  }
  .bg_image {
    width: 58.5%;
  }
  .logo img {
    max-width: 184px;
  }
  .btn_blue img {
    max-width: 118px;
  }
  .title h4 {
    font-size: 2vw;
  }
  .details._dtl2{
    bottom: 7%;
    left: 7%;
  }
  .details._dtl3{
    left: 7%;
    bottom: 10%;
  }
  .details._dtl4{
    bottom: 11%;
    left: 7%;
  }
  section.section4_area {
    margin-top: 2.5%;
  }
  .gray_btn img {
    max-width: 181.5px;
  }
  .section5_area {
    padding-bottom: 10%;
  }
  .footer_text {
    padding-top: 3%;
    padding-left: 3%;
    padding-bottom: 3.5%;
  }
  .footer_text p {
    font-size: 4vw;
  }
  .instgran img {
    max-width: 38px;
  }
  .twitter img {
    max-width: 38px;
  }
  .facebook img {
    max-width: 38px;
  }
  .company_logo>img._powtxt {
      width: 53px;
  }
  .company_logo>a img._ocLogo {
      max-width: 56.5px;
  }
  .scrollTop img {
      max-width: 23.5px;
  }
  .scrollTop {
      bottom: 8%;
      right: -1%;
  }
  .coppyright_text p {
      font-size: 2vw;
  }
/*Event page*/
  span.cmb_icon {
      right: 24px;
      top: 8px;
  }
  span.cmb_icon img{
    max-width: 18px;
    width: 100%;
  }
  span.reqBtn {
      font-size: 8px;
  }
  span.reqBtn {
      padding: 3px 6px;
      margin-left: 11px;
  }
  .inputGroup.mt-6{
    margin-top: 6px;
  }
  .submit_btn a {
    padding: 4.2% 0%;
    width: 97.5%;
    font-size: 19px;
    margin-top: 8%;
  }
  .submit_btn-white a {
    padding: 4% 0%;
    width: 97.5%;
    font-size: 19px;
  }
  .coppyright_text.blue_color{
    padding: 1% 0%;
    margin-top: 6%;
  }
  .description {
    font-size: 15px;
    width: 80%;
  }
  .text-content>p {
    font-size: 10px;
    line-height: 16px;
    padding-bottom: 6%;
    padding-top: 0%;
  }
  p.bottom_txt {
    font-size: 4vw;
  }
  p._coppytext{
    padding-top: 53%;
  }
  .submit_btn._mg15 {
    margin-top: 15%;
  }
  p.small_text{
    margin-top: 19.5%;
  }
  select._custom{
    padding-bottom: 13px;
  }
  .sub_head p {
    font-size: 3vw;
    padding-bottom: 4px;
  }
  .reservation_time {
    padding: 2% 0%;
  }
  .reservation_time.deactiv img {
    max-width: 13.5px;
  }
  .reservation_time h1 {
    font-size: 16px;
  }
  .reservation_time.defalt img {
    max-width: 17px;
    position: relative;
    left: 3px;
  }
  .reservation_time.active img {
    max-width: 17.5px;
    position: relative;
    left: 5px;
    top: -3px;
  }
  .custom_btn a {
    font-size: 18px;
    margin: 13% auto 0px;
  }
  .custom_btn-white {
    margin-top: 7px;
  }
  .custom_btn-white a {
    font-size: 15px;
  }
  p.date1{
    font-weight: normal;
    color: #0055B9;
    font-size: 3.5vw;
    margin: 0;
    padding: 0;
    padding-bottom: 0%;
  }
  a._pt16{
    margin-top: 16%;
  }
  ._mt5{
    margin-top: 5%;
  }

}

@media only screen and (width: 320px) {
  .social_icon,.company_logo{width: 45%;}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
