/*
  Author:RoktimSazib
  url:http://www.codingavatar.com
  description:StudentBox-LP
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
body{
  overflow-x: hidden;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   Global styles
   ========================================================================== */
 *:focus{
   outline: none;
 }
 h1,h2,h3,h4,h5,h6{
   margin: 0px;
   padding: 0px;
 }
 ul{
   margin: 0px;
   padding: 0px;
   list-style-type: none;
 }
 .fix{
   overflow: hidden;
 }
 body{
  font-family:  "Yu Gothic", "游ゴシック体", YuGothic, sans-serif, "Oxygen Mono";
}
/* ==========================================================================
   Roktim custom styles
   ========================================================================== */
header.header_area{
  min-width: 1000px;
  padding: 2% 0%;
}
.logo {
  width: 40%;
  float: left;
}
.logo img{
  max-width: 100%;
  padding-left: 5%;
}
.btn_blue {
  width: 30%;
  float: right;
}
.social_icon {
  width: 30%;
  float: right;
  display: flex;
  flex-direction: row-reverse;
  padding-top: 1.5%;
  padding-right: 5%;
  box-sizing: border-box;
}
.twitter {
  margin-left:5%;
  margin-right: 5%;
}
.facebook img{
  max-width: 100%;
}
.instgran img{
  max-width: 100%;
}
/*hover social_icon*/
.facebook img:hover{
  transition: 0.3s;
  filter: grayscale(50%);
}
.twitter img:hover{
  transition: 0.3s;
  filter: grayscale(50%);
}
.instgran img:hover{
  transition: 0.3s;
  filter: grayscale(50%);
}
.btn_blue>a{
  float: right;
}
.btn_blue>a img{
  max-width: 100%;
}
.btn_blue>a img:hover{
  transition: 0.3s;
  filter: grayscale(50%);
}
.blue{
  background-color: #0055B9;
}
.sky{
  background-color: #3FA3FF;
}
.row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2%;
}
.item {
  width: 33%;
}
.item>img {
  max-width: 100%;
  position: relative;
  top: 1px;
}
.item h2,.item h3,.item span{
  color: #FFF;
}
.title h2{
  display: inline-block;
}
.caption{
  padding: 5%;
}
.title {
  padding-bottom: 5%;
}
.sub-title._st4 {
  min-height: 53px;
}
.gray_btn {
  text-align: center;
  padding-top: 37px;
}
.footer_entry_btn{
  padding-bottom: 48px;
}
.gray_btn img:hover{
  filter: grayscale(70%);
  transition: 0.3s;
}
.footer {
  background-color: #4F606C;
}
.footer_logo {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 3%;
}
.footer_text {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 5%;
}
.footer_text p {
  margin: 0px;
  padding: 0px;
  font-size: 28px;
  color: #FFF;
}
.footer_btn {
  padding-bottom: 5%;
  text-align: center;
}
.footer_social_icon {
  text-align: center;
}
.footer_social_icon>.f_instgran {
  display: inline-block;
}
.footer_social_icon>.f_twitter {
  display: inline-block;
}
.footer_social_icon>.f_twitter {
  margin-left: 2%;
  margin-right: 2%;
}
.footer_social_icon>.f_facebook {
  display: inline-block;
}
.company_logo {
  display: inline-block;
  padding-left: 5%;
}
.coppyright_text {
  text-align: center;
  padding: 3% 0px;
}
.coppyright_text p {
  margin: 0px;
  padding: 0px;
  color: #FFF;
  font-size: 20px;
  font-family: Myriad Pro;
}
.scrollTop {
  width: 50px;
  position: fixed;
  bottom: 16%;
  right: 13.5%;
}
.scrollTop img:hover {
  opacity: 0.3;
}






/* ==========================================================================
   pixel perfect for 1000px
   ========================================================================== */
@media only screen and (width: 1000px) {
.logo img{
  width: 307px;
}
.instgran img{
  width: 37px;
}
.twitter img{
  width: 37px;
}
.facebook img{
  width: 36px;
}
.btn_blue>a img{
  width: 212px;
}
.btn_blue {
  width: 22%;
}
.social_icon {
  padding-right: 21px;
  padding-top: 12px;
}
.twitter {
  margin-left: 4%;
  margin-right: 4%;
}
.logo img{
  padding-left: 25px;
  padding-top: 5px;
}
.fast{
  margin-right: 13px;
  box-sizing: border-box;
}
.last{
  width: 33%;
  box-sizing: border-box;
  padding-left: 0;
  position: relative;
  left: 13px;
}
.item.fast img{
  max-width: 100.5%;
}
._1stCap{
  width: 100.5%;
}
.caption {
  padding-left: 27px;
  box-sizing: border-box;
  font-size: 13px;
  padding-top: 23px;
}
.title._1sttitle span{
  font-size: 10px;
  letter-spacing: 1px;
}
.caption.blue._1stCap{
  padding-bottom: 39px;
}
.sub-title._st1{
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 2px;
  position: relative;
  top: 8px;
  left: -8px;
}
span._smltxt{
  position: relative;
  top: 5px;
  left: 7px;
}
.caption.sky._2ndCap{
  padding-bottom: 39px;
}
.sub-title._st2 h3{
  position: relative;
  top: 10px;
  letter-spacing: 2px;
}
._smltxt2{
  position: relative;
  top: 4px;
}
.item.secend img {
  max-width: 100.5%;
}
.caption.sky._2ndCap{
  width: 100.5%;
}
.caption.blue._3rdCap {
  padding-bottom: 40px;
}
.sub-title._st3 {
  position: relative;
  top: 10px;
  letter-spacing: 2px;
}
span._smltxt3 {
  position: relative;
  top: 4px;
  letter-spacing: 3px;
}
._4thCap{
  width: 100.5%;
  padding-bottom: 60px;
}
.sub-title._st4 {
  min-height: 0px;
}
.sub-title._st4 {
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 2px;
  position: relative;
  top: 35px;
  left: 0px;
}
.caption._5ndCap {
  padding-bottom: 39px;
  width: 100.5%;
}
.caption._6thCap {
  padding-bottom: 40px;
}
.gray_btn {
  text-align: center;
  padding-top: 37px;
}
.gray_btn img {
  width: 250px;
  position: relative;
  left: 7px;
}
.footer_entry_btn{
  padding-bottom: 48px;
}
.footer_logo {
  padding-top: 4.5%;
  padding-bottom: 15px;
}
.footer_logo a img{
  max-width: 394px;
  width: 100%;
  margin-left: 18px;
}
.footer_text {
  width: 757px;
  margin: 0 auto;
  padding-bottom: 2.5%;
  padding-left: 27px;
  line-height: 21px;
}
.footer_text p {
  font-size: 14px;
  letter-spacing: -0.5px;
}
.footer_btn {
  padding-bottom: 1%;
}
.footer_btn img{
  width: 270px;
  margin-left: 14px;
}
.f_instgran a img{
  width: 39px;
}
.f_twitter a img{
  width: 39px;
}
.f_facebook a img{
  width: 38px;
}
img._powtxt {
  width: 59px;
}
img._ocLogo {
  width: 73px;
}
.footer_social_icon {
  margin-top: 20px;
}
.footer_social_icon>.f_instgran {
  margin-left: 12px;
}
.footer_social_icon>.f_twitter {
  margin: 0px;
  position: relative;
  left: 7px;
}
.footer_social_icon>.f_facebook {
  display: inline-block;
  position: relative;
  left: 14px;
  top: -1px;
}
.company_logo {
  position: relative;
  left: -3px;
}
img._ocLogo {
  position: relative;
  left: 5px;
}
.coppyright_text {
  padding: 2.5% 0px 1.5%;
}
.coppyright_text p {
  font-size: 7px;
  margin-left: 25px;
}
.scrollTop {
  bottom: 6%;
  right: 18.5%;
}
.scrollTop a img{
  width: 26px;
}


}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
